<% unless @inactive_flavors.empty? %>
  <div class="panel callout radius">
    <h3>Inactive Flavors</h3>
    <ul>
      <% @inactive_flavors.each do |flavor| %>
        <li><%= flavor.name %></li>
      <% end %>
    </ul>
  </div>
<% end %>