<h3>Current Flavors</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <% if (can? :destroy, StoreFlavor) & (current_user != nil) %>
        <% if current_user.store_id == @current_flavors.first.store_id %>
          <th>&nbsp;</th>
        <% end %>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @current_flavors.each do |storeflavor| %>
      <tr>
        <td> <%= storeflavor.flavor.name %></td>
        <% if (can? :destroy, StoreFlavor) & (current_user != nil) %>
          <% if current_user.store_id == @current_flavors.first.store_id %>
            <td><%= link_to(eval("store_flavor_path(storeflavor)"), method: 'delete', class: 'button radius alert tiny') do %>
            &nbsp;Remove&nbsp;</td>
            <% end %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

    &nbsp;&nbsp;
<%= will_paginate @current_flavors, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>



