<h3>Current Flavors</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @current_flavors.each do |storeflavor| %>
      <tr>
        <td> <%= storeflavor.flavor.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if (can? :create, StoreFlavor) & (current_user.store_id == @current_flavors.first.store_id) %>
  <%= link_to(new_storeflavor_path, class: 'button radius') do %>
    &nbsp;<%= "Add Flavor" %>
  <% end %>
<% end %>
    &nbsp;&nbsp;
<%= will_paginate @current_flavors, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>



