<h3>Current Flavors</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @current_flavors.each do |storeflavor| %>
      <tr>
        <td> <%= storeflavor.flavor.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @current_flavors, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>



