<div class="row">
  <div class="small-7 columns">
    <%= render partial: "shift_details" %>
  </div>
  <div class="small-5 columns">
    <% if @shift_jobs.empty? %>
      <h3>No jobs have been added yet.</h3>
    <% else %>
      <%= render partial: "shift_job_history"%>
    <% end %>
  </div>
</div>

<!-- Add buttons to list all, edit project or destroy object -->
<%= render partial: "partials/object_options", locals: {model_name: "shift", object: @shift}  %>